@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3a6451;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark: #232536;
}
html,
body {
  height: 100%;
}

@layer base {
  body {
    @apply text-[16px];
  }
}

@layer components {
  .hero-section {
    @apply bg-no-repeat  bg-center  bg-primary;
    /* background: url(../images/hero.png);
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3a6451; */
  }
  .btn-white {
    @apply bg-white px-4 min-h-[59px] font-medium text-opacity-80 text-[#3A6451] rounded-md;
  }
  .btn-green {
    @apply bg-[#3A6451] px-4 min-h-[59px]  text-[#ffffff] rounded-md;
  }
  .section-title {
    @apply text-sm md:text-base text-[#232536] opacity-[0.75] tracking-[3px];
  }
}
.mobile_navbar {
  transform: translateX(0px) !important;
  transition: 0.5s all ease !important;
}
